<div class="container">
    <div *ngIf="true" class="loader">
        <app-loading></app-loading>
    </div>

    <ng-container *ngIf="false">
        <article class="details">
            <section>
                <div class="wrapper">
                    <img src="./lamborghini-huracan-evo-5k-2020-ww-1920x1080.jpg" alt="">
                </div>
                <div class="icons">
                    <img class="left" src="./alexander-jawfox-Qtk9Hjzw4Nk-unsplash.jpg" alt="">
                    <img src="./lamborghini-huracan-evo-5k-2020-ww-1920x1080.jpg" alt="">
                    <img src="./alexander-jawfox-Qtk9Hjzw4Nk-unsplash.jpg" alt="">
                </div>
            </section>
            <section class="text">
                <h3>Offer Details</h3>
                <div class="content">
                    <div class="col">
                        <p>Seller: BorislavN</p>
                        <p>Make: Lamborghini</p>
                        <p>Miles: 100000</p>
                        <p>Powertrain: Gasoline</p>
                    </div>
                    <div class="col">
                        <p>Price: 200000$</p>
                        <p>Model: Huracan</p>
                        <p>Year: 2020</p>
                        <p>Transmission: Automatic</p>
                    </div>
                </div>
                <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quaerat
                    minima incidunt placeat dolores quasi iure accusantium at natus rem sint voluptate qui neque
                    corporis, enim dolor eveniet facilis ipsam?
                    Cum quae quas odit ipsam, praesentium, ducimus in maiores, consectetur et nobis deserunt.
                    Tempora repellat dolor, dicta labore tenetur nemo ex excepturi voluptate sed quae earum,
                    distinctio aperiam quisquam a!
                    Voluptatibus consequuntur ex nobis doloribus neque modi odit nemo autem eum quod accusantium
                    totam et ducimus, dignissimos vero nesciunt voluptatum ratione assumenda reiciendis ipsam
                    consequatur. Mollitia nostrum dolorum quaerat laborum!</p>
                <div class="buttons">
                    <button>Edit</button>
                    <!-- <button>Buy</button> -->
                    <button>Delete</button>
                    <button>Comments</button>
                </div>
            </section>
        </article>
    </ng-container>

</div>