<div style="text-align: center;margin-top: 50px;" class="container">
    <div *ngIf="isLoading" class="loader">
        <app-loading></app-loading>
    </div>

    <ng-container *ngIf="!isLoading">
        <article class="details">
            <section>
                <div class="wrapper">
                    <img [attr.src]="mainPictureUrl" alt="picture">
                </div>
                <div class="icons">
                    <img *ngFor="let icon of currentOffer.carId.pictures; index as i" [attr.src]="transformUrl(icon)"
                        alt="icon" [class.left]="i===0" (click)="toggleMainPicture($event.target.src)">
                </div>
            </section>
            <section class="text">
                <h3>Offer Details</h3>
                <div class="content">
                    <div class="col">
                        <p>Seller: {{currentOffer.authorId.username}}</p>
                        <p>Make: {{currentOffer.carId.make}}</p>
                        <p>Miles: {{currentOffer.carId.miles}}</p>
                        <p>Powertrain: {{currentOffer.carId.powertrain}}</p>
                    </div>
                    <div class="col">
                        <p>Price: {{currentOffer.price}}$</p>
                        <p>Model: {{currentOffer.carId.model}}</p>
                        <p>Year: {{currentOffer.carId.year}}</p>
                        <p>Transmission: {{currentOffer.carId.transmission}}</p>
                    </div>
                </div>
                <p class="description">{{currentOffer.description||"No description"}}</p>
                <div class="buttons">
                    <ng-container *ngIf="isOwner">
                        <button>Edit</button>
                        <button>Delete</button>
                    </ng-container>
                    <button *ngIf="(!isOwner&& userLoggedIn)">Buy</button>
                    <button>Comments</button>
                </div>
            </section>
        </article>
    </ng-container>
</div>