<div class="container page">
    <h2>Comments:</h2>
    <section class="comment-section">
        <article *ngFor="let comment of comments" class="post">
            <div class="info">
                <p>{{comment.authorId.username}}:</p>
                <p>{{comment.createdAt | dateAgo}}</p>
            </div>
            <p class="content">{{comment.text}}</p>
        </article>
    </section>
    <form [formGroup]="form" (ngSubmit)="submitFormHandler()" class="comment">
        <label for="text" style="display: none;">Empty</label>
        <input id="text" name="text" class="text" type="text" placeholder="Enter text between 1 and 500 symbols and don't forget to login :)" formControlName="text">
        <input [class.disabled]="(isLoading || form.invalid || !(hasUser$ | async))"
            [disabled]="(isLoading || form.invalid || !(hasUser$ | async))" class="button" type="submit" value="Send">
    </form>

</div>