<div class="container">
    <div *ngIf="isLoading" class="loader">
        <app-loading></app-loading>
    </div>

    <ng-container *ngIf="!inEditForm">

        <ng-container *ngIf="!isLoading&&!inSellForm">
            <article class="details">
                <div class="wrapper">
                    <img [attr.src]="imgUrl" alt="picture">
                </div>
                <div class="content">
                    <h3>Car Details</h3>
                    <div class="text">
                        <div class="col">
                            <p>Make: {{currentCar.make}}</p>
                            <p>Miles: {{currentCar.miles}}</p>
                            <p>Powertrain: {{currentCar.powertrain}}</p>
                        </div>
                        <div class="col">
                            <p>Model: {{currentCar.model}}</p>
                            <p>Year: {{currentCar.year}}</p>
                            <p>Transmission: {{currentCar.transmission}}</p>
                        </div>
                    </div>
                    <div *ngIf="!currentCar.forSale" class="btn-holder">
                        <button (click)="toggleEditForm()">Edit</button>
                        <button (click)="deleteHandler()">Delete</button>
                        <button (click)="toggleSellForm()">Sell</button>
                    </div>
                    <ng-container *ngIf="isDeleting">
                        <app-loading></app-loading>
                    </ng-container>
                </div>
            </article>
        </ng-container>

        <app-sell-car *ngIf="inSellForm" [currentCar]="currentCar" (onCloseSellForm)="toggleSellForm()"></app-sell-car>

    </ng-container>

    <app-edit-car *ngIf="inEditForm" [currentCar]="currentCar" (onHideEditForm)="toggleEditForm()"
        (onEdited)="saveEdited($event)"></app-edit-car>
</div>