<header>
    <div class="container header gray-text flex-between">
        <h1 class="title-wrapper">
            <a class="title" href="">Car Shop</a>
        </h1>
        <ul class="flex-between link-list">
            <li><a href="">Offers</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">My Offers</a></li>
            <li><a href="">Collection</a></li>
            <li><a href="">Add Car</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </div>
</header>