.error-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(52,58,64,0.8) 0%, rgba(59,66,72,0.85) 38%, rgba(108,117,125,0.9) 91%);
    border-radius: 20px;
    margin-top: 30px;
    color:whitesmoke;
    padding: 35px 100px;
    line-height: 1.5;
    font-size: 18px;
}

div.error-page h2{
    display: inline;
    margin: 0 auto;
    padding: 5px 50px;
    border-bottom: 1px solid whitesmoke;
}

p.message{
    text-align: center;
}

div.error-page .back{
    font-size: 20px;
    text-decoration: none;
    padding:10px 20px;
    color:  whitesmoke;
    background: linear-gradient(270deg, rgba(52,58,64,1) 0%, rgba(59,66,72,1) 38%, rgba(108,117,125,1) 91%);
    border-radius: 15px;
    margin: 0 5px;
    box-shadow:1px 1px 13px 0px rgba(50, 50, 50, 0.85);
}