<form class="none" [formGroup]="form" (ngSubmit)="submitFormHandler()">
    <h3>Transfer Funds</h3>
    <input (click)="closeTransferMenu()" type="button" class="submit" value="Hide Menu">
    <div class="form-group">
        <label [class.error-label]="form.get('action').touched && form.get('action').invalid" for="action"><i
                class="fas fa-exchange-alt"></i>:</label>
        <select name="action" id="action" formControlName="action">
            <option value="deposit">Deposit</option>
            <option value="withdraw">Withdraw</option>
        </select>
    </div>
    <p *ngIf="form.get('action').invalid&&form.get('action').touched" class="error-message">Select valid
        action!</p>
    <div class="form-group">
        <label [class.error-label]="form.get('transaction').touched && form.get('transaction').invalid"
            for="transaction"><i class="fas fa-dollar-sign"></i>:</label>
        <input type="number" id="transaction" name="transaction" placeholder="Enter amount"
            formControlName="transaction">
    </div>
    <p *ngIf="form.get('transaction').invalid&&form.get('transaction').touched" class="error-message">Amount
        must be 1 - 3 000 000$!</p>
    <p *ngIf="tooBig" class="error-message">Balance not enough!</p>

    <input [class.disabled]="formLoading || form.invalid " [disabled]="formLoading || form.invalid"
        class="submit" class="submit" type="submit" value="Submit">

    <ng-container *ngIf="formLoading">
        <app-loading></app-loading>
    </ng-container>
</form>