.loader{
    margin: 50px auto;
    text-align: center;
}

div.description{
    flex-direction: column;
    align-items: stretch;
}

label.description-label{
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    text-align: left;
}

textarea{
    max-width: 1000px;
    min-width: 330px;
    min-height: 100px;
    padding: 5px;
    font-size: 18px;
    border-bottom-left-radius: 20px;
    outline: none;
}

div.container{
text-align: center;
}