<div style="margin: 30px auto;text-align: center;">
    <app-loading *ngIf="isLoading"></app-loading>
</div>

<div [attr.data]="(refreshUser$ | async)" *ngIf="!isLoading" style="display: none;"></div>

<article *ngIf="!isLoading&&!showEditForm" class="profile">
    <section class="info">
        <h3>Profile Info:</h3>
        <p>Username: {{(currentUser$ | async).username}}</p>
        <p>Email: {{(currentUser$ | async).email}}</p>
        <p>Balance: {{((currentUser$ | async).balance).toFixed(2)}}$</p>
    </section>
    <section class="buttons">
        <ng-container *ngIf="!showTransferMenu">
            <button (click)="toggleEditForm()">Edit Profile</button>
            <button (click)="toggleTransferMenu()">Transfer Money</button>
        </ng-container>
        <app-transfer-menu *ngIf="showTransferMenu" [balance]="(currentUser$ | async).balance"
            (onCloseTransferMenu)="toggleTransferMenu()"></app-transfer-menu>
    </section>
</article>

<div *ngIf="showEditForm" style="margin: 50px auto;text-align: center;">
    <app-edit [info]="(currentUser$ | async)" (onCloseForm)="toggleEditForm()">
    </app-edit>

    <!-- <app-edit [info]="currentUser" (onCloseForm)="hideEditForm($event)" (onEditedData)="updateProfileData($event)">
    </app-edit> -->
</div>