article.profile{
    margin: 50px auto;
    max-width: 600px;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    color: whitesmoke;
    background: linear-gradient(270deg, rgba(52,58,64,0.8) 0%, rgba(59,66,72,0.9) 38%, rgba(108,117,125,0.95) 91%);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.profile > section{
    flex-grow: 1;
}

section > p {
    margin: 5px;
    padding: 15px;
    border-left: 2px solid whitesmoke;
    background: linear-gradient(270deg, rgba(52,58,64,1) 0%, rgba(59,66,72,1) 38%, rgba(108,117,125,1) 91%);
}

h3{ 
    padding-bottom: 5px;
    margin: 5px;
    border-bottom: 2px solid whitesmoke;
}

button{
    cursor: pointer;
    width: 100%;
    margin: 5px 10px;
    padding: 13px 40px;
    font-size: 18px;
    border: none;
    outline: none;
    background:linear-gradient(90deg, rgba(32,37,38,1) 0%, rgba(87,31,37,1) 31%, rgba(85,31,37,1) 73%, rgba(28,37,38,1) 100%);
    border-radius: 15px;
    color: whitesmoke;
    box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
}

.buttons{
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.buttons button:hover{
    background: linear-gradient(90deg, rgba(87,31,37,1) 15%, rgba(32,37,38,1) 49%, rgba(85,31,37,1) 94%);
} 